<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServeurWPFConcurrent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ServeurWPFConcurrent.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>65000</value>
            </setting>
            <setting name="AcuseReception" serializeAs="String">
                <value>"Bienvenue sur le serveur"</value>
            </setting>
            <setting name="ShutdownMessage" serializeAs="String">
                <value>"GRR BAW"</value>
            </setting>
        </ServeurWPFConcurrent.Properties.Settings>
    </userSettings>
</configuration>